*{
	padding:0;
	margin:0;
	box-sizing:border-box;
    /* font-family: 'Raleway', sans-serif; */
	font-family: 'Open Sans', sans-serif;
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

}
.container{
	width:1240px;
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex_container{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
}
.flex_item1{
	width:8.33%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item2{
	width:16.66%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item3{
	width:25%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item4{
	width:33.33%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item5{
	width:41.66%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item6{
	width:50%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item7{
	width:58.33%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item8{
	width:66.66%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item9{
	width:75%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item10{
	width:83.33%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item11{
	width:91.66%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.flex_item12{
	width:100%;
	padding-right:15px;
	padding-left:15px;
	flex: 0 0 auto;
}
.border{
    border: 2px solid gray;
    padding: 40px;
    
}
.top{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.top li{
    list-style: none;
    padding: 6px 12px;
   font-size: 14px;
}
.top li :nth-child(3){
    color: gray;
}

.image1{
    width:auto;
      height:130.5vh;
      margin-bottom: 10px;
  }
.image1 img{
    height:100%;
    width:100%;
    padding:0px 0px;
}
.checked {
    color: orange;
  }

  .image{
    width:auto;
    height:64vh;
  }
  .image img{
    height:100%;
    width:100%;
    padding:0px 0px;
}
.left{
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rtop{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    
}
 .two{
    width: 100%;
    height: 10px;
    display: flex;
    gap: 40px;
 }
 .stars{
    gap: 4px;
    display: flex;
 }
 .three{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .color{
    font-size: 12px;
    color: gray;
 }
 .scolor{
  display: flex;
  gap: 10px;
 }
 .blk{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: black;
	outline:2px solid white;
	outline-offset:2px;

 }
 .blk:hover{
   outline:2px solid blue;
   outline-offset:2px;
 }
 .gry{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: gray;
 }
 .four{
    display: flex;
    justify-content: space-between;
    height: 20px;
 }
 .chart-size{
    color: #5046E6;
 }
 .five ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
 }
 .five ul li{
    width: 40px;
    height: 30px;
    border: 1px solid rgb(172, 164, 164);
    border-radius: 6px;
    line-height: 30px;
    text-align: center;

cursor: pointer;
 }
 .five ul :nth-child(6){
    color: lightgray;
 }
 .five ul li:hover{
    background-color: #5046E6;
    color: white;
    transform: 0.3s;
 }
 /* .six{
    width: 100px;
    height: 30px;
    border-radius: 4px;
 }
 .six :hover{
    background-color: blue;
    color: white;
 } */
 .six a{
    color: black;
    display: block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 6px;
    text-decoration: none;
 }
 .six a:hover{
    background-color: #5046E6;
    color: white;
 }
.seven{
    padding-right: 56px;
    height: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;

}
.eight{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.eight ul{
    list-style-position: inside;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.nine{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btm2{
    background-color: #9e9e9e4a;
    width: 45%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    border-radius: 6px;
}
.fa-dollar-sign{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 2px solid black;
    line-height: 24px;
    text-align: center;
}
.fa-solid{
    font-size: 18px;
    background-color: white;
}
